/* Set height to 100% for body and html to enable the background image to cover the whole page: */
body, html {
    margin: 0;
    height: 100%;
    background-color: #fff;
}

.bgimg {
    /* Full-screen */
    height: 95%;
    /* Center the background image */
    background-position: center;
    /* Scale and zoom in the image */
    background-size: cover;
    /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
    position: relative;
    /* Add a white text color to all elements inside the .bgimg container */
    color: white;
    /* Add a font */
    font-family: "Courier New", Courier, monospace;
    /* Set the font-size to 25 pixels */
    font-size: 25px;
}

/* Position text in the middle */
.middle {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

p#comingsoon {
    color: #000;
}

img#floater {
    position: static;
    margin-left: 20px;
    margin-top: 20px;
    width: 40px;
}

.top-icon {
    margin-left: 20px;
    margin-top: 10px;
    color: #000;
}

a {
    text-decoration: none;
}

.scipfont {
    font-family: "Product Sans", "Arial", Gadget, sans-serif;
}