
.arrow {
    text-align: center;
    margin: 8% 0;
}

.bounce {
    -moz-animation: bounce 4s infinite;
    -webkit-animation: bounce 4s infinite;
    animation: bounce 4s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
}
.recruitment-section {
    height: 100%;
    padding-top: 80px;
    /*background: url(../img/bg.svg);*/
}

.rec-subtitle {
    font-weight: lighter;
}

.centered.card {
    margin: 0 auto;
    max-width: 600px;
    box-shadow: 0 0 40px 0 #3f3f3f;
    border-radius: 10px;
}

.recruitment-text {
    margin-bottom: 40px;
}

.why-section {
    margin-top: 30px;
}

.why-title {
}

.why-title-text {
    font-weight: lighter;
}